{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container padding-top padding-bottom">
  <div class="col-md-12 main-container">
    <h2 class="title center-vertical lightly-padded">Delete Item</h2>
    <div class ="row padding-left padding-top">
			<p>Are you sure you want to delete the following item: {{item.title}} ({{item.category_name}})<p>
		</div>
    <form action="{{url_for("deleteItem", item_title = item.title)}}" method="POST">
      <button type="submit" class="btn btn-outline-danger">Delete</button>
      <a href="{{url_for("showItemDetails", category_title = item.category_name, item_title = item.title)}}"
         class="btn btn-outline-secondary" role="button">Cancel</a>
    </form>
  </div>
</div>

{% endblock %}
