<div class="flex top-menu">
	<div class="container flex">
		<div class="col-md-6 center padding-none">
			<a href="{{url_for('showAllCategories')}}">
				<h1>Catalog App</h1>
			</a>
		</div>
		{% if 'username not in login_session %}
			<div class="col-md-6 center right-align padding-none">
				{% include "login.html" %}
			</div>
		{% else %}
			<div class="col-md-5 center right-align padding-right">
				<h5 class = "margin-none"> Logged in as <br> {{login_session['username']}} </h5>
			</div>
			<div class="col-md-1 center right-align padding-none">
				<a href="{{url_for("disconnect")}}"
					class="btn btn-danger" role="button">Logout</a>
			</div>
		{% endif %}
	</div>
</div>
