* {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: #000000;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 40px;
	color: #ffffff;
	line-height: 50px;
	font-weight: 400;
}

h2 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	color: #ff0000;
	font-weight: 300;
	font-size:30px
}

h3, label {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	color: #ff0000;
	font-weight: 200;
	font-size: 20px;
}

h4 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	color: #ff0000;
	font-weight: 200;
	font-size: 15px;
}

p {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	color: #000000;
	font-weight: 200;
	font-size: 15px;
}

a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
}

body {
	background-color: #D3D3D3;
}

.dividing-line {
	border-right: 2px solid;
	border-color: rgba(229,229,229,0.4);
}

.inline-content {
	display:inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.max-height {
	height:100%;
}

.list-content {
	display:block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.top-menu {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.26);
  height: 80px;
  transition: min-height 0.3s;
	background-color: #082d68;
  width: 100%;
}

.heading {
	height: 100%;
}

.container {
	max-width: 90%;
}

.main-container {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.26);
	transition: min-height 0.3s;
  width: 100%;
	background-color: white;
	min-height = 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.margin-right {
	margin-right: 10px;
}

.padding-top {
	padding-top: 20px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.padding-left {
	padding-left: 20px;
}

.padding-right {
	padding-right: 20px;
}

.padding-none {
	padding: 0;
}

.lightly-padded {
	padding-left: 3px;
	padding-right: 3px;
}

.margin-none {
	margin: 0 0 0 0;
}

.flex {
	display: flex;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	color: #082d68;
	font-weight: bolder;
}

.center-vertical {
	align-items: center;
	margin: 0 0 0 0;
}

.right-align {
	display:flex;
	flex-direction: column;
	align-items: flex-end;
}

.login-button {
	min-width: 100px;
}
