{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container padding-top padding-bottom">
	<div class="col-md-12 main-container">
		<h2 class="title center-vertical lightly-padded">Edit Item</h2>
        <form action="{{url_for('showItemDetails', category_title = item.category_name, item_title = item.title)}}"
              method="POST">
        	<div class="form-group">
            	<label for="usr">Item Title:</label>
              	<input type="text" class="form-control" id="item_title">
            </div>
            <div class="form-group">
            	<label for="desc">Description:</label>
            	<textarea class="form-control" rows="5" id="desc"></textarea>
            </div>
            <div class="form-group">
              <label for="comment">Category:</label>
              <select class="form-control" id="category_title">
                {% for category in categories %}
                <option>{{category.title}}</option>
                {% endfor %}
              </select>
            </div>
        	<button type="submit" class="btn btn-default">Submit</button>
      	</form>
	</div>        
</div>

{% endblock %}
