{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container padding-top padding-bottom">
	<div class="col-md-12 main-container">
		<h2 class="title center-vertical lightly-padded">Edit Item</h2>
		<div class ="row padding-left padding-top">
			<div class="form-group">
  				<label for="usr">Item Title:</label>
  				<input type="text" class="form-control" id="usr">
			</div>
		</div>
      	<div class ="row padding-left padding-top">
        	<div class="form-group">
              <label for="comment">Description:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
          	</div>
      	</div>
      	<div class ="row padding-left padding-top">
        	<div class="form-group">
              <label for="comment">Category:</label>
              <select class="form-control" id="category_title">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
          	</div>
      	</div>
		<div class ="row padding-left flex">
          <a href="#" class="btn btn-default" role="button">Submit</a>
          <a href="#" class="btn btn-danger padding-left" role="button">Cancel</a>
		</div>
      </div>
          
</div>

{% endblock %}
